.page-width {
  width: $breakpoint-md;
  max-width: 100vw;
}

.border-bottom {
  border-bottom: 1px solid $separator-color;
}

.white-space-pre {
  white-space: pre;
}

.cursor-grab {
  cursor: grab;
}

body {
  background-color: $grey-2;
}
