$page-width: $breakpoint-sm;

.page-width {
  max-width: $page-width;
}

.border-bottom {
  border-bottom: 1px solid $separator-color;
}

.white-space-pre {
  white-space: pre;
}

.cursor-grab {
  cursor: grab;
}
